/.bundle
/.librarian
/.projects
/.snapshot
/.tmp
/bin
/config/local.rb
/log
/tmp
/shared/*
!/shared/README.md
/vendor/gems/
cache/
config/
data/
env.d/
env.sh
homebrew/
nodenv/
rbenv/
ruby-build/
our-boxen/
repo/
our-boxen
